.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.root {
  border-radius: 4px;
  padding: 10px;
  background-color: #f3f3f3;
  height: 100%;
}

.title {
  overflow: hidden;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}