.root {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: -30px;
  margin-bottom: 40px;
}

.slide {
  flex: 0 0 calc(100% / 3);
  min-width: 0;
  padding-left: 30px;
}

.pagination {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
}

.paginationBtn {
  border-radius: 4px;
  border: 1px solid black;
  width: 20px;
  height: 12px;
  background-color: aqua;
}

.paginationBtnActive {
  background-color: rgb(15, 71, 71);
}

.paginationBtn:hover {
  background-color: rgb(15, 71, 71);
  cursor: pointer;
  transition: all 0.3s;
}